<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrify</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
       <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/dashboard" class="nav-brand text-dark">Dashboard</a>
                    </div>
                </div>
            </nav>
        </header>
    <!-- /Header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/mealslist" class="border-shadow">
                    <span class="text-gradient"> Add New Meal <i class="fas fa-user"></i></span>
                </a>
            </div>

        </div>
    </main>
       <!-- user form handling -->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Meal</th>
      <th scope="col">Type</th>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Calories</th>
    </tr>
  </thead>
   
  <tbody>
    <% mealjson.forEach((meal)=>{ %>
        <tr>
          <th scope="row"><%= meal.mealname %></th>
          <td><%= meal.mealtype %> </td>
          <td><%= meal.date %> </td>
          <td><%= meal.description %>  </td>
          <td><%= meal.calories %>  </td>
        </tr>
         <% })  %>
    </tr>
  </tbody>
</table>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</body>
</html>